{
  "globals": {
    "chrome": false,
    "ES6Promise": false,
    "chromeCall": false
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "jasmine": true
  },
  "extends": [
    "standard"
  ]
}
