{
  "globals": {
    "chrome": false,
    "ES6Promise": false,
    "chromeCall": false
  },
  "env": {
    "browser": true,
    "amd": true,
    "jasmine": true
  },
  "extends": [
    "standard"
  ]
}
